.home-page {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 2rem;

    .text-zone{
        position: absolute;
        left: 10%;
        top: 20%;
        width: 40%;
        
        }
        
    .form-group{
        position: absolute;
        text-align: center;
        left: 60%;
        top: 40%;
    }

    
}