.home-page {
    display: grid;
    // grid-template-columns: 1fr 2fr;
    // grid-column-gap: 2rem;
    position:fixed;
    width: 100%;
    height: 100%;
    cursor: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='50' height='50' style='font-size: 40px'><text y='32'>🛫</text></svg>"), auto;
    .text-zone{
        position: fixed;
        left: 5%;
        top: 20%;
        
        
        h1{
            font-size: 80px;
        }
        
        h2{
            position: absolute;
            font-size: 30px;
            width: 100%;
        }
        }
        
    .form-group{
        font-size: 25px;
        position: absolute;
        text-align: center;
        left: 65%;
        top: 40%;
        input{
            width: 100%;
            height: 100%;
        }
    }

    
}