.home-page {

    .text-zone{
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        animation: fadeIn 1s 2s backwards;
    
        h1 {
        color: #fff;
        font-size: 35px;
        width: 320px;
        margin: 0;
        animation: fadeIn 1s 2s backwards;
        
        &::before{
            content: '<h1>';
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.6;
            animation: fadeIn 1s 2s backwards;

        }

        &::after{
            content: '<h1/>';
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: fadeIn 1s 4s backwards;
            
            opacity: 0.6;

        }
    }
}
}